<a href="https://colab.research.google.com/github/ptpham999/Customer-Experience-at-Store-Kiosk/blob/main/Copy_of_Coderschool_Tusan_Intro_to_SQL_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Remember to save a copy in drive before doing this exercise!

![](https://i.imgur.com/rPnCNKw.png)

In [1]:
#@title Before you start, please login with the same email you have registered for the course {display-mode: "form"}

# This code will be hidden when the notebook is loaded.
import requests
import ipywidgets as widgets
from IPython.display import display
import urllib.request as request
import inspect

checker_str = request.urlopen('https://raw.githubusercontent.com/coderschool/mle_gist/master/course_management.py')
exec(checker_str.read())

assignment_id = '60e6cfe8bba893000bf72eda'
assignment = Assignment.get_assignment_by_id(db, assignment_id)
total_score = sum([q['score'] for q in assignment.questions])

submission_data = {
    "assignmentId": assignment_id,
    "answers": [{'question': q['_id'], 'answer':'', 'clientCheck':0} for q in assignment.questions],
    "currentScore": 0
}

button = widgets.Button( icon='fa-paper-plane', description="Submit", button_style='success', tooltip='Submit')
email_field =widgets.Text(
    value='',
    placeholder='Email..',
    description='Your email',
    disabled=False
)
output = widgets.Output()

def submit():
    button.description = "Submitting..."
    button.disabled = True

    submission = Submission.create(db, submission_data)
    if isinstance(submission,Submission) and getattr(submission, '_id', ''):
        if (getattr(submission, 'name', '')):
            print(f'Welcome {submission.name}!')
        else:
            print(f'Welcome {submission.email}')
    else:
        del submission_data['email']

    button.description = "Submit"
    button.disabled = False

def on_button_clicked(b):
    # Display the message within the output widget.
    with output:
        if (len(email_field.value) == 0):
            print("Please enter your email")
            return
        submission_data['email'] = email_field.value.strip()
        submit()

button.on_click(on_button_clicked)

display(email_field)
display(button, output)

Text(value='', description='Your email', placeholder='Email..')

Button(button_style='success', description='Submit', icon='paper-plane', style=ButtonStyle(), tooltip='Submit'…

Output()

## Database

![alt text](https://miro.medium.com/max/1066/1*LcXr-gRpSfe63XjdCVa15A.png)

**Run these cell to connect and load the dataset in the given database file (.db)**

In [2]:
!wget -q -c 'https://raw.githubusercontent.com/dhminh1024/practice_datasets/master/chinook.db'

In [3]:
import sqlite3
import pandas as pd
import numpy as np

conn = sqlite3.connect('chinook.db')

# Discussion Section

### Practice simple SELECT query

You've done a good job getting to this point! Let's practice writing query that use all keywords we've learned so far.

# Question 1 (SQL: 10 pts)

From Customers table, list all cities in Germany. Order by city.

 For the automated grading system to work, make sure your table match exactly the given result

In [4]:
answer_1 = """
SELECT DISTINCT City
FROM Customers
WHERE Country = 'Germany'
ORDER by City ASC
"""

In [5]:
pd.read_sql_query(answer_1, conn)

        City
0     Berlin
1  Frankfurt
2  Stuttgart

In [6]:
#@title ####Run this cell to check your answer {display-mode: "form"}
idx = 1
verify_answer(idx-1,f'answer_{idx}',connection=conn)

Your answer is:

SELECT DISTINCT City
FROM Customers
WHERE Country = 'Germany'
ORDER by City ASC

You passed! Good job!
Your current score: 10/100

Your result should look like this: 

![](https://i.imgur.com/0tDLfnF.png)

# Question 2 (SQL: 10 pts)

Sort all customers in the USA by their first name alphabetically. If they have the same first name, sort their last name descendingly

 For the automated grading system to work, make sure your table match exactly the given result

In [7]:
answer_2 = """
SELECT *
FROM Customers
WHERE Country = 'USA'
ORDER by FirstName ASC, LastName DESC

"""

In [8]:
pd.read_sql_query(answer_2, conn)

    CustomerId FirstName  ...                     Email SupportRepId
0           20       Dan  ...       dmiller@comcast.com            4
1           24     Frank  ...        fralston@gmail.com            3
2           16     Frank  ...        fharris@google.com            4
3           22   Heather  ...        hleacock@gmail.com            4
4           17      Jack  ...   jacksmith@microsoft.com            5
5           23      John  ...    johngordon22@yahoo.com            4
6           28     Julia  ...       jubarnett@gmail.com            5
7           21     Kathy  ...       kachase@hotmail.com            5
8           18  Michelle  ...         michelleb@aol.com            3
9           27   Patrick  ...      patrick.gray@aol.com            4
10          26   Richard  ...  ricunningham@hotmail.com            4
11          19       Tim  ...          tgoyer@apple.com            3
12          25    Victor  ...        vstevens@yahoo.com            5

[13 rows x 13 columns]

In [9]:
#@title ####Run this cell to check your answer {display-mode: "form"}
idx = 2
verify_answer(idx-1,f'answer_{idx}',connection=conn)

Your answer is:

SELECT *
FROM Customers
WHERE Country = 'USA'
ORDER by FirstName ASC, LastName DESC


You passed! Good job!
Your current score: 20/100

Your result table should look like this

![](https://i.imgur.com/ZAGE5Ej.png)

# Question 3 (SQL: 10 pts)

List three most expensive bills in Boston, USA

In [21]:
answer_3 = """

SELECT * 
FROM invoices
WHERE BillingCity = 'Boston' AND BillingCountry = 'USA'
ORDER BY Total DESC LIMIT 3



"""

In [22]:
pd.read_sql_query(answer_3, conn)

   InvoiceId  CustomerId  ... BillingPostalCode  Total
0          5          23  ...              2113  13.86
1         60          23  ...              2113   8.91
2        234          23  ...              2113   5.94

[3 rows x 9 columns]

In [23]:
#@title ####Run this cell to check your answer {display-mode: "form"}
idx = 3
verify_answer(idx-1,f'answer_{idx}',connection=conn)

Your answer is:


SELECT *
FROM invoices
WHERE BillingCity = 'Boston' AND BillingCountry = 'USA'
ORDER BY Total DESC LIMIT 3




You passed! Good job!
Your current score: 30/100

Your result table should look like this

![](https://i.imgur.com/Eco2J77.png)

# Question 4 (SQL: 10 pts)

List the third and fourth most expensive bill in 2012

In [59]:
answer_4 = """
SELECT * 
FROM Invoices
WHERE InvoiceDate LIKE '2012%'
ORDER BY Total DESC
LIMIT 2 OFFSET 2

"""

In [60]:
pd.read_sql_query(answer_4, conn)

   InvoiceId  CustomerId  ... BillingPostalCode  Total
0        313          43  ...             21000  16.86
1        250          55  ...              2010  13.86

[2 rows x 9 columns]

In [61]:
#@title ####Run this cell to check your answer {display-mode: "form"}
idx = 4
verify_answer(idx-1,f'answer_{idx}',connection=conn)

Your answer is:

SELECT *
FROM Invoices
WHERE InvoiceDate LIKE '2012%'
ORDER BY Total DESC
LIMIT 2 OFFSET 2


You passed! Good job!
Your current score: 80/100

Your result table should look like this

![](https://i.imgur.com/4oCaOFK.png)

# Question 5 (SQL: 20 pts)

Find all customers who work at Google, Microsoft or Apple. Order them by State and City increasingly

In [48]:
answer_5 = """
SELECT * 
FROM Customers
WHERE Company IN ('Apple Inc.', 'Google Inc.', 'Microsoft Corporation')
ORDER BY STATE ASC, CITY ASC
"""

In [49]:
pd.read_sql_query(answer_5, conn)

   CustomerId FirstName  ...                    Email SupportRepId
0          19       Tim  ...         tgoyer@apple.com            3
1          16     Frank  ...       fharris@google.com            4
2          17      Jack  ...  jacksmith@microsoft.com            5

[3 rows x 13 columns]

In [50]:
#@title ####Run this cell to check your answer {display-mode: "form"}
idx = 5
verify_answer(idx-1,f'answer_{idx}',connection=conn)

Your answer is:

SELECT *
FROM Customers
WHERE Company IN ('Apple Inc.', 'Google Inc.', 'Microsoft Corporation')
ORDER BY STATE ASC, CITY ASC

You passed! Good job!
Your current score: 70/100

Your result table should look like this

![](https://i.imgur.com/iiXgrTq.png)

# Question 6 (SQL: 20 pts)

Get all the countries from Invoices table where BillingState is NULL. Sort them alphabetically

In [41]:
answer_6 = """
SELECT DISTINCT BillingCountry
FROM invoices
WHERE BillingState IS NULL
ORDER by BillingCountry ASC
"""

In [42]:
pd.read_sql_query(answer_6, conn)

    BillingCountry
0        Argentina
1          Austria
2          Belgium
3            Chile
4   Czech Republic
5          Denmark
6          Finland
7           France
8          Germany
9          Hungary
10           India
11          Norway
12          Poland
13        Portugal
14           Spain
15          Sweden
16  United Kingdom

In [62]:
#@title ####Run this cell to check your answer {display-mode: "form"}
idx = 6
verify_answer(idx-1,f'answer_{idx}',connection=conn)

Your answer is:

SELECT DISTINCT BillingCountry
FROM invoices
WHERE BillingState IS NULL
ORDER by BillingCountry ASC

You passed! Good job!
Your current score: 80/100

Your result table should look like this

![](https://i.imgur.com/fpBWAkZ.png)

# Question 7 (SQL: 20 pts)

Get all the cities from Invoices table that DO NOT start with vowels (Vowels contains character a,e,i,o,u). Sort them alphabetically

In [83]:
answer_7 = """
SELECT DISTINCT BillingCity 
FROM Invoices
WHERE BillingCity NOT LIKE "A%" AND BillingCity NOT LIKE "O%" AND BillingCity NOT LIKE "E%" AND BillingCity NOT LIKE "I%" AND BillingCity NOT LIKE "U%"
ORDER BY BillingCity ASC

"""

In [84]:
pd.read_sql_query(answer_7, conn)

            BillingCity
0             Bangalore
1                Berlin
2              Bordeaux
3                Boston
4              Brasília
5              Brussels
6              Budapest
7          Buenos Aires
8               Chicago
9            Copenhagen
10            Cupertino
11                Delhi
12                Dijon
13               Dublin
14           Fort Worth
15            Frankfurt
16              Halifax
17             Helsinki
18               Lisbon
19               London
20                 Lyon
21              Madison
22               Madrid
23             Montréal
24        Mountain View
25             New York
26                Paris
27                Porto
28               Prague
29              Redmond
30                 Reno
31       Rio de Janeiro
32                 Rome
33       Salt Lake City
34             Santiago
35               Sidney
36            Stockholm
37            Stuttgart
38  São José dos Campos
39            São Paulo
40              Toronto
41               Tucson
42            Vancouver
43               Vienne
44               Warsaw
45             Winnipeg
46          Yellowknife

In [85]:
#@title ####Run this cell to check your answer {display-mode: "form"}
idx = 7
verify_answer(idx-1,f'answer_{idx}',connection=conn)

Your answer is:

SELECT DISTINCT BillingCity
FROM Invoices
WHERE BillingCity NOT LIKE "A%" AND BillingCity NOT LIKE "O%" AND BillingCity NOT LIKE "E%" AND BillingCity NOT LIKE "I%" AND BillingCity NOT LIKE "U%"
ORDER BY BillingCity ASC


You passed! Good job!
Your current score: 100/100

In [ ]:
pd.read_sql_query(answer_7, conn)
# Your result table should look like this

            BillingCity
0             Bangalore
1                Berlin
2              Bordeaux
3                Boston
4              Brasília
5              Brussels
6              Budapest
7          Buenos Aires
8               Chicago
9            Copenhagen
10            Cupertino
11                Delhi
12                Dijon
13               Dublin
14           Fort Worth
15            Frankfurt
16              Halifax
17             Helsinki
18               Lisbon
19               London
20                 Lyon
21              Madison
22               Madrid
23             Montréal
24        Mountain View
25             New York
26                Paris
27                Porto
28               Prague
29              Redmond
30                 Reno
31       Rio de Janeiro
32                 Rome
33       Salt Lake City
34             Santiago
35               Sidney
36            Stockholm
37            Stuttgart
38  São José dos Campos
39            São Paulo
40              Toronto
41               Tucson
42            Vancouver
43               Vienne
44               Warsaw
45             Winnipeg
46          Yellowknife